.vulnerability-container {
  margin: 10px 0;
}

.vulnerability-container > div > span {
  display: inline-block;
  font-weight: bold;
  margin-right: 5px;
}

.vulnerability-container > div > span:last-child {
  margin-right: 0;
  font-weight: normal;
}

.asset-info {
  margin-top: 10px;
  margin-bottom: 12px;
}

.scrollable-block {
  overflow-y: auto;
  max-height: 300px;
  width: 100%;
  border: 1px solid;

  &.padded {
    padding: 5px;
  }
}
