.vulnerability-container {
  margin-top: 10px;

  &:first-child {
    margin-top: 0px;
  }
}

.p-block {
  word-wrap: break-word;
  word-break: break-word;
}

.asset-info {
  margin-top: 10px;
  margin-bottom: 12px;
}

.scrollable-block {
  overflow-y: auto;
  max-height: 300px;
  width: 100%;
  border: 1px solid;
  padding: 5px;
}
